.button-cells {
    display: flex;
    gap: $spacer;
    margin-right: $spacer;
    justify-content: space-between;
    width: calc( 100% - #{$accordion-padding-x*2} - #{$accordion-icon-width} - #{$spacer} );
    text-align: center;

    @include media-breakpoint-up(md) {
        
        > span {
            flex: 0 0 20%;

            &:first-child {
                text-align: left;
            }
        }

    }

}

.wp-block-cover {

    &.application-note-cover,
    &.case-study-cover {
        min-height: 340px;
        align-items: stretch;

        .entry-content {
            font-size: $font-size-sm;
        }

        .wp-block-cover__background {
            transition: $transition-base;
        }
        
    }

    &.application-note-cover {
        align-items: flex-start;
    
        .entry-title {
            font-weight: $font-weight-base;
            font-size: $lead-font-size;
        }
        
    }

    &.case-study-cover {
        
        .wp-block-cover__inner-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &.has-image-background:hover .wp-block-cover__background {
            background-color: $primary-200 !important;
            opacity: 1;
        }

    }
    
}

.single-case_study {

    #content {
        max-width: 960px;

        .wp-block-heading {
            margin-top:1.5em;
        }

    }
}

.accordion-featured-image {
    max-height: 220px;
    width: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {

    &.card-paper {

        .card-body {
            height: 240px;
            overflow: hidden;
            position: relative;

            &.card-body-faded::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            }

        }
    }

}

.slick-slide > .card-paper .paper-thumbnail {
    height: 2rem;
    width: auto;
    margin-bottom: $paragraph-margin-bottom;
}